#face {
    background-color: antiquewhite;
    margin: auto;
    border: solid 10px;
    height: 750px;
    width: 750px;
}

.eye {
    background-color: #000000;
    margin: 50px;
    padding: 50px;
    height: 100px;
    width: 100px;
}

.pupil {
    background-color: #ffffff;
    margin: 15px;
    padding: 15px;
    height: 10px;
    width: 10px;
    display: grid;
    place-items: center;
}

.nose {

}

.mouth {
    background-color: #000000;
    bottom: 0px;
    display: flex;
    gap: 10px;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    height: 200px;
    width: 350px;
}

.tooth {
    background-color: #ffffff;
    /*margin: 15px;*/
    padding: 15px;
    height: 10px;
    width: 10px;
    /*display: grid;*/
    /*place-items: center;*/
}

.tongue {
    background-color: #d35656;
    display: flex;
    justify-content: center;
    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    height: 30px;
    width: 80px;
}

.line {
    background-color: #000000;
    margin-top: -50px;
    width: 10px;
    height: 50px;
}